.order {
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
  background-color: rgba(240, 248, 255, 0.671);
  border: 1px solid rgba(128, 128, 128, 0.616);
  padding: 1.3rem;
  flex-direction: column;
}
