.navigationItems {
  padding: 10px;
  display: flex;
  font-weight: 800;
  color: wheat;
  font-size: 1.33rem;
  /* text-decoration: none; */
}

.activeClassName {
  background-color: rgb(218, 204, 179);
  border-bottom: 4px solid rgb(84, 154, 219);
  /* this color property willnot impact as classname already has one */
  color: red;
  /* this didnt work so directly place color value in activestyle of navlink */
}
.passiveClassName {
  text-decoration: none;
  color: inherit;
}
